.header {
  height: 70px;
  /* background-color: #8AAAE5; */
}
.logo {
  /* background: violet; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo span {
  font-size: 40px;
  color: blue;
}
.logo h3 {
  font-size: 25px;
  color: blue;
  margin-left: 5px;
}

/* .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  border: 1px solid #b4b8ab;
  border-radius: 20px;
  height: 40px;
  font-size: 18px;
  color: black;
  background-color: #ffff;
} */
.accounperson {
  margin-right: 5px;
}
.search {
  border: 2px solid hsl(0, 0%, 5%);
  /* border-radius: 30px; */
  width: 500px;
  padding-left: 30px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}
.bi-search {
  border: 2px solid hsl(0, 0%, 5%);
  margin-left: 3px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  background-color: #ffff;
  color: blue;
}
.container {
  display: block;
}
.menudiv {
  height: 80px;
}
.menudiv button {
  border: none;
  font-size: 17px;
  font-weight: 400;
  background: transparent;
  /* background-color: blue; */
  width: 200px;
  height: 40px;
  border-radius: 10px;
}
.menudiv button:hover {
  background-color: #454545;
  color: #ffff;
}
.videobox {
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.videobox iframe {
  /* background-color: blue; */
  width: 350px;
  height: 200px;
  margin: 10px 0px;
  border-radius: 10px;
}
.vidtitle {
  width: 350px;
  margin: 0px 30px;
}
