nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 3px;
}
.logo img {
  width: 70px;
}
.menu {
  /* background-color: #000000; */
  display: flex;
}
.menu li {
  padding: 10px;
  list-style: none;
  cursor: pointer;
}
.menu li:hover {
  background-color: yellow;
  border-radius: 5px;
  color: #000000;
}
.menu button{
  border: none;
  background:transparent;
  color: #ffffff;
  font-weight: 600;
}
.menu button:hover{
  background-color:yellow;
  color: black;
}
#main {
  /* background-color: black; */
  /* background-color: #ffff; */
  width: 100%;
  height: 600px;
  position: relative;
}
#background {
  background-image: url("../../public/images/wallpaper.webp");
  opacity: 0.5;
}
.header-heading {
  padding-top: 20px;
  text-align: center;
  font-weight: 900;
  /* font-size: 40px; */
}
.header-heading h2 {
  /* color: white; */
  color: yellow;
  font-size: 50px;
}
.header-heading p {
  color: #ffffff;
  font-size: 30px;
}
.header-btns {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-btn {
  font-size: 20px;
  width: 300px;
  padding: 10px;
  text-decoration: none;
  background-color: yellow;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}
.header-btn:hover {
  background-color: #000000;
  transition: all ease 0.5s;
  color: #ffffff;
  border: 2px solid #000000;
}
#features {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  /* background-color: #000000; */
}
#features h1 {
  color: #fff;
  font-size: 3rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  color: #ffffff;
}
.a-box {
  background-color: #000000;
  width: 250px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  position: relative;
}
.a-b-img {
  width: 100%;
  height: 60%;
}
.a-b-img img {
  padding: 15px;
  margin-top: 40px;
  width: 100%;
  height: 50%;
}
.a-b-text {
  width: 100%;
  height: 40%;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.a-b-text h2 {
  color: #fff;
}
.a-b-text p {
  margin: 0px;
  color: #ffffffa6;
  font-size: 1.1rem;
  display: block;
  max-width: 80%;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 10px;
}
#about {
  background-color: #000000;
  /* margin-top: 100px; */
  width: 100%;
  height: 100vh;
  /* box-sizing: border-box; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* padding: 50px 5% 0px 5%; */
  /* position: relative; */
}
.about-text {
  /* width: 50%; */
  color: #fff;
  list-style: circle;
}
.about-text h1 {
  font-size: 3rem;
  color: yellow;
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}
.about-text p {
  font-size: 1.2rem;
  color: white;
}
.about-text button {
  margin-top: 20px;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: yellow;
  font-weight: 600;
}
.about-text button:hover {
  /* box-shadow: 5px 10px 30px rgba(255, 2, 2, 0.336); */
  background-color: rgb(0, 0, 0);
  /* transition: all ease 0.3s; */
  color: #ffffff;
}
.about-image {
  width: 50%;
}
.about-image img {
  width: 500px;
}
#contact {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact h1 {
  color: #fff;
  font-size: 3rem;
}
#contact form {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
#contact form input,
#contact form textarea {
  width: 100%;
  height: 50px;
  margin: 5px 0px;
  padding: 10px;
  border: none;
  outline: none;
  background-color: #ffffff2d;
  color: #ffffff;
  border-radius: 5px;
}
#contact form textarea {
  height: 150px;
}
#contact form button {
  margin-top: 5px;
  border: none;
  height: 45px;
  width: 200px;
  border-radius: 10px;
  background: linear-gradient(90deg, #ff1414 20%, #f70000);
  color: #ffffff;
  text-transform: uppercase;
}
