.signin-box {
  padding: 10px;
  background-color: white;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  /* width: 300px; */
}
.lable {
  padding-top: 30px;
  font-size: 20px;
  font-weight: 600;
}
.input-box {
  width: 400px;
  border: none;
  border-radius: 5px;
  /* background: transparent; */
}
.btn {
  width: 100px;
  margin-top: 10px;
  
}
.btn button {
  background-color: orangered;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
}
.btn button:hover {
  background-color: yellow;
  color: #000000;
}
.signup-link {
  text-decoration: none;
  font-size: 17px;
}
.modal-input {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
}
